* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Raleway, sans-serif;
    background-color: rgb(146, 220, 229);
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(43, 48, 58);
    height: 60px;
    position: fixed;
    text-align: end;
    top: 0;
    width: 100%;
}

.top-nav ul li{
    display: inline-block;
    padding: 25px 30px 15px 0;
}
.top-nav ul li a {
    color: rgb(124, 124, 124);
    letter-spacing: -1px;
    text-transform: uppercase;
    
}

.top-nav ul li a:hover {
    color: rgb(238, 229, 233);
    font-weight: 600;
    transition: color 1s;
}

main {
    margin-top: 60px;
    top: 60px;
}

.intro {
    color: rgb(43, 48, 58);
    float: left;
    font-family: Inconsolata, monospace;
    margin-bottom: 100px;
    padding: 20px;
    width: 50%;
}

.intro h1 {
    font-size: 7em;
    margin: 40px;
}

.intro h2 {
    font-size: 3em;
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.name {
    color: #D64933;
    font-weight: bolder;
}

.info {
    float: right;
    width: 40%;
}

.info img {
    border-radius: 100%;
    clear: both;
    width: 150px;
}

.arrumar {
    clear: both;
}